<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>

    </div>
  <% end %>

  <div class="form-group">
    <strong > <%= form.label :title %></strong>
    <small > <%= form.text_field :title, id: :project_title , class: "form-control"%></small>
  </div>

  <div class="field">
   <strong >  <%= form.label :description %></strong>
   <small > <%= form.text_field :description, id: :project_description , class: "form-control"%></small>
  </div>
  <br>

  <div class="actions ">
    <%= form.submit  class: "btn btn-success "%>
  </div>
  <br>
<% end %>
