<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>
  <%if current_user.manager? %>
		<%= link_to 'Edit', edit_project_path(@project) %> |
    <%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %> |
 		  <br><br><strong>DEVELOPERS:</strong>
 		 <% @users.each do |user| %>
 		   <%if user.developer? %>
 		       <%=user.name%> 
 		       <% if @project.users.exists? (user.id) %>
 		          <%= link_to 'Remove user', remove_user_project_path(@project, user_id:user.id), method: :delete, data: { confirm: 'Are you sure?' }  %>
 		         <br>
 		       <% else %>
 		          <%= link_to 'Add user', add_user_project_path(@project, user_id:user.id), method: :put %>
 		       <%end%> 
 		
        <%end%>
		
		    <br>  
 		<%end%>
     <strong>QA:</strong>
    <% @users.each do |user| %>
        <%if user.qa? %>
          
        <br>
        <%=user.name%> 
          <% if @project.users.exists? (user.id) %>
           <%= link_to 'Remove user', remove_user_project_path(@project, user_id:user.id), method: :delete, data: { confirm: 'Are you sure?' }  %>
           <br>
         <% else %>
            <%= link_to 'Add user', add_user_project_path(@project, user_id:user.id), method: :put %>
          <%end%> 
        <%end%>
<%end%>
<%end%>
 		<br><br>
    <strong>Toal bug in this Project: <%= @project.bugs.count %></strong>
         <%if current_user.qa? || current_user.developer? %>
        <%= render @project.bugs %>
        <div>
          <hr />

            <%if current_user.qa?%>
            <h3 class="subtitle is-3">make a bug</h3>
             <%= render 'bugs/form' %>
<% end -%>
 		<% end -%>
    <br>
    <%= link_to 'Back', projects_path %>