<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

		<%= link_to 'Edit', edit_project_path(@project) %> |
        <%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %> |
 		<%= link_to 'Back', projects_path %>
 		 <% @users.each do |user| %>
 		
 		 <%if user.developer? %>
 		 DEVELOPERS
 		 <br>
 		 <%=user.name%> 
 		 <% if @project.users.exists? (user.id) %>
 		  <%= link_to 'Remove user', remove_user_project_path(@project, user_id:user.id), method: :delete, data: { confirm: 'Are you sure?' }  %>
 		 <br>
 		<% else %>
 		 <%= link_to 'Add user', add_user_project_path(@project, user_id:user.id), method: :put %>
 		<%end%> 
 		<%end%>
		
		<br>
 		
 		<%if user.qa? %>
 		 QA
 		 <br>
 		 <%=user.name%>
 		 <br>
 		<%end%>
 		<%end%>
 		