<p id="notice"><%= notice %></p>



    <tr>
      <td><%= bug.title %></td>
      <td> <%= bug.deadline %></td>
      <td><%= image_tag(bug.screenshot.url(:thumb), alt: 'Image') if bug.screenshot? %></td>
      <td> <%= bug.bug_type %></td>
      <td> <%= bug.status %></td>
    
      <%if current_user.qa?%>
         <td><%= link_to ' Show', project_bug_path(@project), class: "btn btn-info glyphicon glyphicon-eye-open" %> </td>
        <td> <%= link_to ' Destroy', [bug.project, bug], method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger glyphicon glyphicon-remove "%> </td>
      <% end -%>
      
      <%if current_user.developer?%>
     
        <td>  <%= link_to 'Assign me', assign_dev_project_bug_path(@project, bug), method: :put  %></td>


        <% if bug.developer_id==current_user.id%>
           <%if bug.status=='New' %>
              <td>  <%= link_to 'Started', started_project_bug_path(@project, bug), method: :put  %></td>
           <%end%>
    
          <%if bug.status=='Started' %>
             <%if bug.bug_type=='Bug' %>
                 <td><%= link_to 'Resolved', done_project_bug_path(@project, bug), method: :put  %></td>

              <%elsif bug.bug_type=='Feature' %>
                 <td> <%= link_to 'Completed', done_project_bug_path(@project, bug), method: :put  %></td>
              <%end%>
           <%end%>

          <%if bug.status=='Completed' || bug.status=='Resolved' %>
              <td> Done project</td>
           <%end%>
     
<%end%>
<%end%>
</tr>
