<%= form_with(model: [@project, @project.bugs.build], local: true, :html => {:multipart => true}) do |form| %>



  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :bug_title , class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :deadline %>
    <%= form.text_field :deadline, id: :project_deadline , class: "form-control"%>
  </div>


    <div class="form-group">
    <%= form.label :screenshot %>
    <%= form.file_field :screenshot, id: :project_screenshot , class: "form-control"%>
  </div>

    <div class="form-group">
      <% type=['Bug', 'Feature']  %>
    <%= form.label :bug_type %>
    <%= form.select :bug_type, type, {}, id: :project_type, class: "form-control", onchange: "myFunc();"%>
  </div>
   
<script type="text/javascript">
  
function myFunc() {
  var series = [ ['New', 'Started' ,'Resolved'],['New', 'Started' ,'Completed']];
  var x = document.getElementById("project_type").selectedIndex;
  var option="";
  var i;
  for (i = 0; i < series[x].length; i++) {
    option += '<option value="'+series[x][i]+'"'+'>'+series[x][i]+'</option>';
  }
  document.getElementById("project_status").innerHTML=option;
}

</script>
    <div class="form-group">
    <%= form.label :status %>
    <%= form.select( :status, ['New', 'Started' ,'Resolved'], {}, class: "form-control", id: :project_status) %>
  </div>


  <div class="form-group">
    <%= form.submit class: "btn btn-success "%>
  </div>



<% end %>

