<p id="notice"><%= notice %></p>

<p>
  <strong id="show1b">Title:</strong>
  <small id="show2b"> <%= @bug.title %></small>
</p>

<p>
  <strong id="show1b">Deadline:</strong>
  <small id="show2b"> <%= @bug.deadline %></small>
</p>

<p>
  <strong id="show1b">Screenshot:</strong>
  <small id="show2b"><%= image_tag(@bug.screenshot.url(:thumb), alt: 'Image') if @bug.screenshot? %></small>
</p>

<p>
  <strong id="show1b">Type:</strong>
  <small id="show2b"><%= @bug.bug_type %></small>
</p>

<p>
  <strong id="show1b">Status:</strong>
  <small id="show2b"><%= @bug.status %></small>
</p>

<%= link_to ' Back', project_path(@project) ,class: "btn btn-info   glyphicon glyphicon-arrow-left "%>



